name: Release listed

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate release tag
        id: tag
        run: |
          echo "::set-output name=release_tag::IDAC_$(date +"%Y.%m.%d_%H-%M")"

      - name: Move to manifest v3
        run: |
          cp src/manifest_v3.json src/manifest.json

      - name: Archive Release
        run: |
          7z a 'ISDCAC-chrome-source.zip' -r './src/*'

      - uses: actions/upload-artifact@v3
        with:
          name: IDCAC-chrome
          path: ./src/*

      - name: Move to manifest v2
        run: |
          rm src/manifest.json
          cp src/manifest_v2.json src/manifest.json

      - name: "web-ext build"
        id: web-ext-build
        uses: kewisch/action-web-ext@v1
        with:
          cmd: build
          source: src
          filename: "ISDCAC.xpi"

      - uses: actions/upload-artifact@v3
        with:
          name: IDCAC-firefox-unsigned
          path: ${{ steps.web-ext-build.outputs.target }}

      - uses: actions/upload-artifact@v3
        with:
          name: IDCAC-firefox-source
          path: ./src/*

      - name: "web-ext sign"
        id: web-ext-sign
        uses: kewisch/action-web-ext@v1
        with:
          cmd: sign
          source: ${{ steps.web-ext-build.outputs.target }}
          channel: listed
          apiKey: ${{ secrets.AMO_SIGN_KEY }}
          apiSecret: ${{ secrets.AMO_SIGN_SECRET }}
          timeout: 900000
          
          
      - name: Sleep for 15 minutes
        run: sleep 15m
        shell: bash
        
      - name: Download xpi
        run: |
         wget https://addons.mozilla.org/firefox/downloads/latest/istilldontcareaboutcookies/istilldontcareaboutcookies-latest.xpi --trust-server-names
      
      - uses: actions/upload-artifact@v3
        with:
          name: ISDCAC-firefox-signed
          path: istilldontcareaboutcookies-*.xpi
          
      - name: Rename source xpi
        run: |
          mv ISDCAC.xpi ISDCAC-firefox-source.zip
          
      - name: "Create Release"
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          files: |
            ISDCAC-chrome-source.zip
            ISDCAC-firefox-source.zip
            istilldontcareaboutcookies-*.xpi
